* {
    padding: 0px;
    margin: 0px;
    color: white;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #1c1b21;
    font-family: monospace;
    flex-wrap: wrap;
}

/* AWAL STYLE index.html */

.container {
    max-width: 1200px;
    width: 1200px;
}

/* Awal Style Navbar */
.navbar {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    /* backdrop-filter: blur(10px); */
}

.navbar img {
    width: 100px;
    margin-left: 5.5%;
    backdrop-filter: blur(5px);
}

.navbar .nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 30%;
    right: 37.5%;
    opacity: 0;
}

.navbar .nav li {
    margin-bottom: 1px;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}

.navbar .nav li:hover {
    border-bottom: 1px solid red;
}

.navbar .nav li a {
    text-decoration: none;
}

.navbar .hamburger::before {
    content: '';
    position: absolute;
    top: -7px;
    width: 30px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.863);
}

.navbar .hamburger {
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: rgb(255, 255, 255);
}

.navbar .hamburger::after {
    content: '';
    position: absolute;
    bottom: -7px;
    width: 30px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.863);
}

.check {
    position: absolute;
    display: flex;
    align-items: center;
    transition: .7s;
    width: 30px;
    height: 23px;
    right: 5%;
    background-color: rgba(255, 1, 1, 0);
    z-index: 11;
    cursor: pointer;
}

.user {
    display: none;
    margin-right: 10%;
    animation: animasi2 2s;
    opacity: 0;
}

.user span,
.a {
    cursor: pointer;
    position: relative;
    padding: 5px;
    border-radius: 15px;
    text-decoration: none;
}

.unk {
    text-decoration: none;
}

.unk:hover {
    color: black;
    background-color: red !important;
}

.user span a:hover {
    background-color: white;
    color: black;
}

.user .unik {
    margin-left: 7px;
    padding-left: 22px;
    padding-right: 5px;
    background-color: rgb(255, 0, 0);
}

.user .unik:hover {
    background-color: red;
}

.user .unik img {
    position: absolute;
    width: 15px;
    left: 0px;
}

@keyframes animasi1 {
    from {
        right: 0%;
        opacity: 0;
    }

    to {
        right: 37.5%;
        opacity: 1;
    }
}

@keyframes animasi2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Akhir Style Navbar */

.jumbotron {
    width: 100%;
    display: flex;
    overflow: hidden;
    padding-top: 100px;
}

.jumbotron .img {
    position: relative;
    width: 50%;
    height: 550px;
}

.jumbotron .img img {
    position: absolute;
    right: -188px;
    top: 40px;
    width: 1000px;
}

.jumbotron .img img.jumbo2 {
    position: absolute;
    right: -170px;
    top: 0px;
    opacity: .1;
}

.jumbotron .jumboText {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
}

.jumbotron .jumboText h1 {
    position: absolute;
    font-size: 60px;
    top: 110px;
}

.jumbotron .jumboText p {
    position: absolute;
    font-size: 16px;
    top: 200px;
}


.jumbotron .jumboText .continue {
    position: relative;
    width: 100%;
    height: 20px;
    left: 7.5%;
    top: 340px;
}

.jumbotron .jumboText .continue p {
    position: absolute;
    font-size: 16px;
    top: -30px;
}

.jumbotron .jumboText .continue span {
    background-color: rgb(255, 0, 0);
    padding: 5px;
    border-radius: 15px;
    transition: .5s;
}

.jumbotron .jumboText .continue span img {
    width: 20px;
    margin-bottom: -4.5px;
}

.jumbotron .jumboText .continue span.fb {
    background-color: blue;
}

.jumbotron .jumboText .continue span.garus {
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    font-size: 20px;
}

.jumbotron .jumboText .continue .sosmed:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.searchBox {
    height: 60px;
    margin: 50px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}


.searchInput {
    width: 55%;
    height: 30px;
    background-color: #ffffff27;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 50px;
}

.searchInput:focus {
    outline: none;
}

.search {
    width: 60px;
    height: 30px;
    background-color: #ffffff3f;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
}

.product {
    width: 100%;
    height: 600px;
    background-color: #ffffff17;
    margin: 50px auto;
}

.prod {
    width: 80%;
    margin: auto;
    position: relative;
    padding-top: 20px;
}

.prod span {
    position: absolute;
    top: 30px;
    right: 30px;
}

.prod h1 {
    margin: 0px 20px;
}

.prod .slider {
    width: 90%;
    height: 230px;
    background-color: rgb(197, 197, 197);
    margin: 20px auto;
    display: flex;
}

.prod .slider img {
    width: 94%;
    margin: auto;
    cursor: pointer;
}

.prod .items {
    display: flex;
}

.prod .items .item {
    position: relative;
    margin: 10px auto;
    width: 15%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: .2s;
}

.item:hover {
    transform: scale(1.05);
}

.prod .items .item img {
    width: 100%;
}

.prod .items .item p {
    margin: 0px 10px;
    color: black;
    font-family: sans-serif;
    font-weight: 1000;
    font-size: 13px;
}

.prod .items .item span {
    position: relative;
    color: black;
    font-size: 10px;
    top: 0px;
    left: 18px;
    color: red;
    font-weight: 1000;
}

footer {
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 100px;
}

footer ul {
    display: flex;
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    margin: 0px 20px;
}

/* AKHIR STYLE index.html */

.login {
    width: 100%;
}

.imgLogin {
    width: 900px;
    position: absolute;
    top: 150px;
    left: -4px;
}

.log {
    width: 450px;
    height: 610px;
    border: 2px solid black;
    position: absolute;
    right: 20px;
    top: 50px;
    background-color: #2d2b35;
    box-shadow: 1px 1px 7px black;
}

.login .log .warungin {
    width: 150px;
    display: block;
    margin: 10px auto;
}

.login .log .inputLog {
    width: 60%;
    margin: 15px auto;
    display: block;
    height: 40px;
    background-color: #ffffff27;
    border-radius: 30px;
    padding: 10px;
    box-sizing: border-box;
}

.inputLog:focus {
    outline: none;
}

.checkbox {
    margin-top: 5px;
    margin-left: 95px;
}

.log span {
    position: absolute;
    top: 289px;
}

.btn {
    width: 60%;
    height: 40px;
    background-color: rgb(0, 0, 197);
    border-radius: 30px;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.google,
.facebook {
    width: 20px;
}

.blue {
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
}

.goog {
    background-color: rgb(202, 0, 0);
}

.fb {
    background-color: rgb(25, 0, 255);
}

.strip {
    width: 70%;
    height: 2px;
    background-color: white;
    margin: auto;
}

.forgot {
    margin: 20px auto;
    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.forgot p {
    font-family: sans-serif;
    font-size: 15px;
    margin: 5px auto;
}

.ft {
    cursor: pointer;
}

.panah {
    width: 70px;
    margin: 30px;
}

.imgDaftar {
    width: 600px;
    position: absolute;
    top: 130px;
    right: 130px;
}

.daftar {
    left: 40px !important;
}

.pnah {
    margin: 0px !important;
}

#pnh {
    position: absolute;
    left: 1200px;
    top: 30px;
    z-index: 10;
}

.chk {
    position: absolute;
    top: 399px;
    left: 110px;
}
